
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Home</h1>

	<form id="create-channel">
		<input id="channel-name" type="text" name="channelName" placeholder="Channel Name" autocomplete="off">
		<input type="submit" value="Create">
	</form>


	<h3 id="channels">Channels</h3>
	<div id="channels-container">
		{% for channel, info in channels.items() %}
		<p id="{{ channel }}">
			<a>{{channel}}</a>
			<button class="join-channel" data-name="{{ channel }}">Join</button>
			<span class="info">{{ info }}</span>
		</p>
		{% endfor %}
	</div>



	<h1 id="channel"></h1>
	<div id="result">This is output</div>
	<div id="msgs">
		{% for msg in msgs %}
		<p>{{ msg.sender }} : {{ msg.msg }}</p>
		{% endfor %}
	</div>

	<form id="msg-form">
		<input id="msg-area" type="text" name="msg">
		<input type="submit" value="send">
	</form>

	<!-- start scripts -->
		<!-- socket io needed script -->
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<!-- my own js -->
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<!-- end scripts -->
</body>
</html>